@use "../../colors_and_fonts.scss" as *;

.button{
  border-radius: 10px;
  color: black;


  div{
    border-radius: 10px;
    background-color: $contrast-color1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
