@use "../../colors_and_fonts.scss" as *;

.footer {
  display: flex;
  margin-top: 50px;
  font-size: 1.3rem;
  font-family: $font-1;
  font-weight: 600;
  border-top: 1px solid rgba(124, 255, 178, 0.2);
  color: rgba(234, 240, 255, 0.7);

  &__section1 {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
  }
  &__section2 {
    width: 34%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
  }
  &__section3 {
    width: 33%;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
    margin: 10px 10px 10px 0px;
  }
  &__social-icon{
    width: 24px;
    height: 24px;
    padding: 4px;
    background: rgba(255, 255, 255, 0.03);
  }
}
