$contrast-color1: #28e0ff;
$contrast-color2: #7cffb2;
$background-color2: #0f1630;
$background-color3: #1a2140;
$font-1: "Space Grotesk", sans-serif;
$font-2: "Plus Jakarta Sans", sans-serif;
$font-3: "Orbitron", sans-serif;
